[submodule "src/code.cloudfoundry.org/voldriver"]
        path = src/code.cloudfoundry.org/voldriver
        url = https://github.com/cloudfoundry/voldriver
        branch = master
[submodule "src/code.cloudfoundry.org/goshims"]
        path = src/code.cloudfoundry.org/goshims
        url = https://github.com/cloudfoundry/goshims
        branch = master
[submodule "src/code.cloudfoundry.org/cfhttp"]
        path = src/code.cloudfoundry.org/cfhttp
        url = https://github.com/cloudfoundry/cfhttp
        branch = master
[submodule "src/code.cloudfoundry.org/clock"]
        path = src/code.cloudfoundry.org/clock
        url = https://github.com/cloudfoundry/clock
        branch = master
[submodule "src/code.cloudfoundry.org/lager"]
        path = src/code.cloudfoundry.org/lager
        url = https://github.com/cloudfoundry/lager
        branch = master
[submodule "src/code.cloudfoundry.org/nfsdriver"]
        path = src/code.cloudfoundry.org/nfsdriver
        url = https://github.com/cloudfoundry/nfsdriver
        branch = master
[submodule "src/code.cloudfoundry.org/debugserver"]
        path = src/code.cloudfoundry.org/debugserver
        url = https://github.com/cloudfoundry/debugserver
        branch = master
[submodule "src/github.com/tedsuo/ifrit"]
        path = src/github.com/tedsuo/ifrit
        url = https://github.com/tedsuo/ifrit
        branch = master
[submodule "src/github.com/tedsuo/rata"]
        path = src/github.com/tedsuo/rata
        url = https://github.com/tedsuo/rata
        branch = master
[submodule "src/github.com/pivotal-cf/brokerapi"]
        path = src/github.com/pivotal-cf/brokerapi
        url = https://github.com/pivotal-cf/brokerapi
        branch = master
[submodule "src/github.com/bmizerany/pat"]
        path = src/github.com/bmizerany/pat
        url = https://github.com/bmizerany/pat
        branch = master
[submodule "src/github.com/codegangsta/cli"]
        path = src/github.com/codegangsta/cli
        url = https://github.com/codegangsta/cli
        branch = master
[submodule "src/github.com/gorilla/mux"]
        path = src/github.com/gorilla/mux
        url = https://github.com/gorilla/mux
        branch = master
[submodule "src/github.com/go-sql-driver/mysql"]
        path = src/github.com/go-sql-driver/mysql
        url = https://github.com/go-sql-driver/mysql
        branch = master
[submodule "src/github.com/Azure/azure-sdk-for-go"]
	path = src/github.com/Azure/azure-sdk-for-go
	url = https://github.com/Azure/azure-sdk-for-go
	branch = master
[submodule "src/github.com/Azure/go-autorest"]
	path = src/github.com/Azure/go-autorest
	url = https://github.com/Azure/go-autorest
	branch = master
[submodule "src/github.com/denisenkom/go-mssqldb"]
	path = src/github.com/denisenkom/go-mssqldb
	url = https://github.com/denisenkom/go-mssqldb
	branch = master
[submodule "src/github.com/dgrijalva/jwt-go"]
	path = src/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
	branch = master
[submodule "src/github.com/satori/uuid"]
	path = src/github.com/satori/uuid
	url = https://github.com/satori/uuid
	branch = master
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
	branch = master
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
	branch = master
[submodule "src/code.cloudfoundry.org/persi-acceptance-tests"]
	path = src/code.cloudfoundry.org/persi-acceptance-tests
	url = https://github.com/cloudfoundry/persi-acceptance-tests
	branch = master
[submodule "src/gopkg.in/resty.v0"]
	path = src/gopkg.in/resty.v0
	url = https://gopkg.in/resty.v0
	branch = master
[submodule "src/github.com/cloudfoundry/smbdriver"]
	path = src/github.com/cloudfoundry/smbdriver
	url = https://github.com/cloudfoundry/smbdriver
[submodule "src/github.com/cloudfoundry/azurefilebroker"]
	path = src/github.com/cloudfoundry/azurefilebroker
	url = https://github.com/cloudfoundry/azurefilebroker
[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
