.blobs
blobs
.nvim
.nvimrc
scripts/config
.dev_builds
.DS_Store
dev_releases/**/*
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
config/private.yml
config/dev.yml
releases/smb-volume/*.tgz
pcf-tile/resources/*.tgz
pcf-tile/resources/*.zip
pcf-tile/product/*
pcf-tile/release/*

## goPath system specifics
pkg
bin/

# gosub and friends
src/github.com/vito/gosub
src/github.com/codegangsta/cli

src/github.com/tools/godep

# IDEs
.vs
